<mat-form-field class="full-width">
  <input matInput placeholder="Password" [type]="showPassword ? 'text' : 'password'" [formControl]="formControl">
  <button mat-button matSuffix mat-icon-button aria-label="copy password to clipboard"
    title="Copy password to clipboard" [cdkCopyToClipboard]="formControl.value">
    <mat-icon>file_copy</mat-icon>
  </button>
  <button mat-button matSuffix mat-icon-button aria-label="Toggle password visibility"
    title="Toggle password visibility" (click)="showPassword=!showPassword">
    <mat-icon>{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
</mat-form-field>