<div mat-dialog-content>
  <h2 mat-dialog-title>Enter file password</h2>
  <mat-form-field class="full-width">
    <input matInput cdkFocusInitial [(ngModel)]="data.password" (input)="hash(data.password)"
      (keydown)="onKeyDown($event)" [type]="showPassword ? 'text' : 'password'" required>
    <mat-hint *ngIf="data.mode === 'save' && data.hash">
      <div *ngIf="data.hash === currentPasswordHash; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock>✓ password matches</ng-template>
      <ng-template #elseBlock><span style="color: red">🗙 password doesn't match</span></ng-template>
    </mat-hint>
    <button mat-button matSuffix mat-icon-button aria-label="Toggle password visibility"
      (click)="showPassword=!showPassword">
      <mat-icon>{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" [mat-dialog-close]="data"
    [disabled]="!data.password">{{data.mode | titlecase }}</button>
  <button mat-button (click)="onNoClick()">Cancel</button>
</div>